{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0">
    <title>Find your account</title>

    <link rel="stylesheet"
        href="{% static 'accounts/forgot_password.css' %}">
</head>

<body>

    <div class="container">

        <a href="{% url 'password' %}"
            class="back">
            &#10094;
        </a>

        <h1>Find your account</h1>

        <p class="description">
            Enter your mobile number.
            <a href="https://help.instagram.com/374546259294234"
                target="_blank">
                Can't reset your password?
            </a>
        </p>

        <form method="POST"
            action="{% url 'forgot_password' %}">
            {% csrf_token %}

            <input type="text"
                name="identifier"
                placeholder="Mobile number or email"
                required>

            <p class="note">
                You may receive WhatsApp and SMS notifications from us for security and login purposes.
            </p>
            {% if error %}
            <p style="color: rgb(205, 43, 43); margin-top: 10px;">
                {{ error }}
            </p>
            {% endif %}

            <button type="submit">
                Continue
            </button>
        </form>

    </div>

    <footer>

        <div class="footer-links">

            <a href="https://www.meta.com/"
                target="_blank">Meta</a>
            <a href="https://about.instagram.com/"
                target="_blank">About</a>
            <a href="https://about.instagram.com/blog/"
                target="_blank">Blog</a>
            <a href="https://about.instagram.com/about-us/careers"
                target="_blank">Jobs</a>
            <a href="https://about.instagram.com/help/"
                target="_blank">Help</a>
            <a href="https://developers.facebook.com/docs/instagram"
                target="_blank">API</a>
            <a href="https://google.com"
                target="_blank">Privacy</a>
            <a href="https://google.com"
                target="_blank">Terms</a>
            <a href="https://google.com"
                target="_blank">Locations</a>
            <a href="https://google.com"
                target="_blank">Instagram Lite</a>
            <a href="https://google.com"
                target="_blank">Contact Uploading &amp; Non-Users</a>
            <a href="https://google.com"
                target="_blank">Meta Verified</a>

        </div>

        <div class="footer-bottom">

            <a href="https://google.com"
                target="_blank"
                class="language">
                English ▼
            </a>

            <span>© 2026 Instagram from Meta</span>

        </div>

    </footer>

</body>

</html>