{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Login</title>
    <link rel="stylesheet"
        href="{% static 'accounts/login.css' %}">
</head>

<body>

    <div class="container">

        <a href="https://www.google.com/"
            class="back">
            &#10094; </a>

        <div class="language">
            English (US)
        </div>

        <img src="{% static 'accounts/logo.png' %}"
            class="logo">

        <form method="POST">
            {% csrf_token %}

            <input type="text"
                name="identifier"
                placeholder="Username, email or mobile number"
                required>

            <input type="password"
                name="password"
                placeholder="Password"
                required>
            {% if error %}
            <p style="color: rgb(205, 43, 43); margin-top: 10px;">
                {{ error }}
            </p>
            {% endif %}
            <button class="login-btn"
                type="submit">
                Log in
            </button>
        </form>

        <a href="{% url 'forgot_password' %}"
            class="forgot">
            Forgot password? </a>

        <button class="create-btn">
            Create new account
        </button>

        <div class="footer">
            <img src="{% static 'accounts/meta.png' %}"
                alt="Meta">
            <span>Meta</span>
        </div>
    </div>

</body>

</html>