{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0">
    <title>Create a new password</title>

    <link rel="stylesheet"
        href="{% static 'accounts/new_password.css' %}">
</head>

<body>

    <div class="container">
        <a href="{% url 'login' %}"
            class="back">
            &#10094;
        </a>

        <h1>Create a new password</h1>

        <p class="description">
            Create a password with at least 6 letters and numbers.
            You'll need this password to log into your account.
        </p>

        <form method="POST">
            {% csrf_token %}

            <div class="password-box">
                <input type="password"
                    id="password"
                    name="password"
                    placeholder="New password"
                    required>

                <span class="toggle"
                    onclick="togglePassword()"></span>
            </div>

            <button class="continue-btn"
                type="submit">
                Continue
            </button>

            <!-- <button class="skip-btn"
                type="button">
                Skip
            </button> -->

        </form>

        <p class="footer-text">
            If someone else used your account, log out of other devices in
            <a href="#">Meta Account settings</a>
        </p>

    </div>

    <script>
        function togglePassword() {
            let input = document.getElementById("password");

            if (input.type === "password") {
                input.type = "text";
            } else {
                input.type = "password";
            }
        }
    </script>

</body>

</html>